* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #5DA9E9;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: white;
    color: black;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    background-color: #272838;
    color: white;
}
#new{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    background-color: #272838;
    color: white;
}
#msg{
    font-size: 5vmin;
    color: black;
    font-weight: bolder;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;  
}
.cRed{
    color: red;
}
.cBlack{
    color: black;
}
h1{
    margin-top: 8vmin;
}